@import url('./index.css');

:root {
  --translate: 33px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-left: 19px;
  cursor: pointer;
}

.marker {
  margin-bottom: 10px;
}

body {
  background-color: #7945ff;
  height: 90vh;
  display: flex;
  place-content: center;
  place-items: center;
}

.board {
  display: grid;
  position: relative;
}

.boardBlack {
  position: absolute;
  pointer-events: none;
  z-index: 98;
}

.boardWhite {
  position: absolute;
  pointer-events: none;
  z-index: 99;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.player1 {
  background-color: var(--yellow);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  animation: drop 0.3s ease-in normal;
  border: 2px solid black;
}

.player2 {
  background-color: var(--pink);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  animation: drop 0.3s ease-in normal;
  border: 2px solid black;
}

.space {
  width: 64px;
  height: 64px;
}

@keyframes drop {
  0% {
    /* transform: scale(0); */
    transform: translateY(-1000%);
  }
  100% {
    /* transform: scale(1); */
    transform: translateY(0%);
  }
}
